@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap");

* {
  padding: 0;
  margin: 0;

  font-family: "Roboto Mono", monospace;
}

:root {
  --primary-bg-color: #000;
  --primary-text-color: #fff;
  --search-btn-color: #fff;
  --hover-color: #f1b10e;
  --part-of-speech: #f1b10e;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#app {
  background: var(--primary-bg-color);
  color: #fff;
  padding: 10rem;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: linear 0.3s;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: 30rem;
    box-sizing: border-box;

    form {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
      width: 100%;
      align-items: center;
      box-sizing: border-box;

      .form-others {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 0.75rem;

        #mode-icon {
          color: var(--primary-text-color);
          transition: linear 0.3s;
          font-size: 1rem;
          flex-basis: 20%;
          text-align: center;
          order: 2;
          cursor: pointer;
          box-sizing: border-box;

          &:hover {
            color: darken($color: #fff, $amount: 40);
          }
        }

        .form-error {
          color: red;
          font-size: 0.85rem;
          flex-basis: 80%;
          text-align: left;
          order: 1;
        }
      }

      .form-control {
        display: flex;
        width: 100%;
        margin-bottom: 0.5rem;
        .search-bar {
          color: var(--primary-text-color);
          flex-basis: 80%;
          padding: 1rem 1rem;
          border: solid 1px var(--primary-text-color);
          border-radius: 5px;
          outline: none;
          background: none;
          margin-right: 1rem;
          transition: linear 0.3s;

          &:hover {
            border-color: var(--hover-color);
            color: var(--hover-color);
          }

          &::placeholder {
            transition: linear 0.3s;
          }

          &:hover::placeholder {
            color: var(--part-of-speech);
          }
        }

        .search-btn {
          padding: 1rem 1.5rem;
          flex-basis: 20%;
          border-radius: 5px;
          outline: none;
          background: none;
          border: solid 1px var(--search-btn-color);
          color: var(--search-btn-color);
          font-weight: 800;
          cursor: pointer;
          transition: linear 0.3s;

          &:hover {
            color: var(--hover-color);
            border-color: var(--hover-color);
          }
        }
      }
    }

    .content {
      display: none;
      opacity: 0;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      box-sizing: border-box;
      scrollbar-color: var(--part-of-speech) #000;
      scrollbar-width: thin;

      &::-webkit-scrollbar {
        width: 0.2rem;

        background: none;
      }

      &::-webkit-scrollbar-track {
        width: 5px !important;
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--part-of-speech);
        height: 1px;
      }

      .word-desc {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        .word {
          font-size: 2.5rem;
          margin-right: 0.5rem;
          color: lighten($color: #f1b10e, $amount: 5);
        }

        .word-transcription {
          font-size: 0.85rem;
          margin-right: 0.5rem;
          color: var(--primary-text-color);
          transition: linear 0.3s;
        }

        .audio-icon {
          font-size: 0.85rem;
          cursor: pointer;
          color: var(--primary-text-color);
          transition: linear 0.3s;
        }
      }

      .word-details {
        .word-meaning {
          margin-bottom: 1.5rem;

          .word-part-of-speech {
            font-style: italic;
            font-weight: 400;
            margin-bottom: 0.5rem;
            color: var(--part-of-speech);
            transition: linear 0.3s;
          }

          .word-definition {
            margin-bottom: 1.5rem;

            .definition {
              margin-bottom: 0.5rem;
              color: var(--primary-text-color);
              transition: linear 0.3s;
            }
          }

          .sub-text {
            font-size: 0.85rem;
            margin-bottom: 0.25rem;
            color: var(--primary-text-color);
            transition: linear 0.3s;
          }

          .sentence-text,
          .antonyms,
          .synonyms {
            color: var(--part-of-speech);
          }
        }
      }
    }

    .content-active {
      display: block !important;
      animation: showDetails 1s linear forwards !important;
    }

    @keyframes showDetails {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 800px) {
  #app {
    padding: 1.5rem 1rem;

    .container {
      height: 100% !important;
      max-height: 100%;
      display: flex;
      justify-content: center;
      width: 100%;

      form {
        margin-bottom: 1rem;
      }

      .search-btn {
        padding: 0 0.5rem !important;
      }
    }
  }
}
